<br />

<div class="booyah-box col-10 offset-1">
  <h1>Calendar</h1>
</div>

<ul>
  <% @calendar_list.items.each do |calendar| %>
    <li><%= calendar.summary %> (<%= calendar.id %>)</li>
  <% end %>
</ul>


<ul>
  <% @event_list.items.each do |event| %>
    <li><%= event.summary %> (<%= event.id %>)</li>
  <% end %>
</ul>

<%= form_tag new_event_url do %>
  <%= submit_tag 'Add event' %>
<% end %>