<div class="booyah-box col-10 offset-1">
  <h1>Team Keba Club Season</h1>
  
  <i>Pullman Community Center - 10355 S. Woodlawn Ave. Chicago, IL  60628</i>
  <br/><br/>
  <div class="row">
    <div class="col-sm-8 col-12">
<p>Due to the IHSA changes, the 2020-21 season will begin in September of 2020. Please stay tuned for tryout information as well as pre-registration for our current members for the 2020-21 season. Please note, due to State of Illinois guidelines, we will be limited in numbers this season, so we encourage everyone to sign up during pre-registration. Pre-registering will allow your child a spot in the program without trying out.  We will only be trying out new members.</p>

<p>For current high school players, the season will run from September 1-February 15th and then continue May 1st through the end of June. For 8th graders and under, families can decide between a September 1st-May 30th season, or November 1st-May 30th season. Teams who qualify for AAU or USA Nationals can continue through June for a separate fee. The boys program will run from September 1st-April 30th.</p>
      <br />

<p>
Club Team Pricing<br />
$1750<br /><br />
Due to IHSA changes, only the training team program will be available for the 2020-2021 club season.  This includes training 3 days per week and will also provide opportunities to video tape skills and practice scrimmages for college scouts. <br /><br />
Upon registering the athlete will be able to apply for a payment plan via our Payment Provider which will be $350 per month for 5 months. 
</p>      
      <br />
       <h3>Team Keba 2020-2021</h3>
      <p>
        If you have received your acceptance letter. Please make first payment below. Thank you and looking forward to working with you all. 
      <br />

      <% if current_user %>
          <p>NOVEMBER</p>
          <% if current_user.enrolled_in?(19) %>
            <h3 class="badge badge-info">You have paid November payment.</h3>
          <% else %>
            <%= link_to 'November Payment', "/programs/19", class: 'btn btn-success' %>               
          <% end %>
          <br />
          <p>OR</p>
          <% if current_user.enrolled_in?(20) %>
            <h3 class="badge badge-info">You have paid November bi-monthly payment #1.</h3>
          <% else %>
            <%= link_to 'November Bi-monthly Payment #1', "/programs/20", class: 'btn btn-success' %>               
          <% end %>
          <br />
          <% if current_user.enrolled_in?(21) %>
            <h3 class="badge badge-info">You have paid November bi-monthly payment #2.</h3>
          <% else %>
            <%= link_to 'November Bi-monthly Payment #1', "/programs/21", class: 'btn btn-success' %>               
          <% end %>
          <br />
          <br />
          <br />
          <p>OCTOBER</p>
          <% if current_user.enrolled_in?(15) %>
            <h3 class="badge badge-info">You have paid October payment.</h3>
          <% else %>
            <%= link_to 'October Payment', "/programs/15", class: 'btn btn-success' %>               
          <% end %>
          <br />
           <p>OR</p>
          <% if current_user.enrolled_in?(17) %>
            <h3 class="badge badge-info">You have paid October bi-monthly payment #1.</h3>
          <% else %>
            <%= link_to 'October Bi-monthly Payment #1', "/programs/17", class: 'btn btn-success' %>               
          <% end %>
          <br />
          <% if current_user.enrolled_in?(18) %>
            <h3 class="badge badge-info">You have paid October bi-monthly payment #2.</h3>
          <% else %>
            <%= link_to 'October Bi-monthly Payment #1', "/programs/18", class: 'btn btn-success' %>               
          <% end %>
          <br />
          <br />
          <br />

          <p>SEPTEMBER</p>
          <% if current_user.enrolled_in?(11) %>
            <h3 class="badge badge-info">You have paid September payment.</h3>
          <% else %>
            <%= link_to 'September Payment', "/programs/11", class: 'btn btn-success' %>               
          <% end %>
          <br />
          <br />
           <p>OR</p>
          <% if current_user.enrolled_in?(14) %>
            <h3 class="badge badge-info">You have paid September bimonthly payment.</h3>
          <% else %>
            <%= link_to 'September Bimonthly Payment', "/programs/14", class: 'btn btn-success' %>               
          <% end %>
          <br />
          <br />


          <p>FULL SEASON</p>
          <% if current_user.enrolled_in?(13) %>
            <h3 class="badge badge-info">You have paid in full!</h3>
          <% else %>
            <%= link_to 'Full Season Payment', "/programs/13", class: 'btn btn-success' %>               
          <% end %>
      <% else %>
        <%= link_to 'November Payment', "/programs/19", class: 'btn btn-success' %>   
        <br />
        <%= link_to 'November Bi-monthly Payment #1', "/programs/20", class: 'btn btn-success' %>   
        <br />
        <%= link_to 'November Bi-monthly Payment #2', "/programs/21", class: 'btn btn-success' %>   
        <br />
        <br />
        <br />

        <%= link_to 'October Payment', "/programs/15", class: 'btn btn-success' %>   
        <br />
        <%= link_to 'October Bi-monthly Payment #1', "/programs/17", class: 'btn btn-success' %>   
        <br />
        <%= link_to 'October Bi-monthly Payment #2', "/programs/18", class: 'btn btn-success' %>   
        <br />
        <br />
        <br />
        <%= link_to 'September Payment', "/programs/11", class: 'btn btn-success' %>   
        <br />
        <%= link_to 'September Bimonthly Payment', "/programs/14", class: 'btn btn-success' %>   
        <br />
        <br />
        <br />
        <%= link_to 'Full Season Payment', "/programs/13", class: 'btn btn-success' %>   
      <% end %>       
    </div>

    <div class="col-sm-3 col-12">
    </div>
  </div>
 </div>