<div class="booyah-box col-10 offset-1">
  <h1>Team Keba Club Season</h1>
  
  <i>CSO MultiPlex - 1301 E. 47th St. Hyde Park, IL 60653</i>
  <br/><br/>
  <div class="row">
    <div class="col-sm-8 col-12">
      <span class="badge badge-default">
        2019-11-01<br />
        2020-06-27
      </span>
      <br />
      <br />

       <% if current_user %>
          <% if current_user.enrolled_in?(8) %>
            <h3 class="badge badge-info">You Are Enrolled!</h3>
          <% end %>
          <%= form_tag program_enrollments_path(8) do %>
             <h4>Option 1 - Payment in Full:</h4>
             16-18U Club Full Payment ($2400)<br />
             14U Club Full Payment ($2100)<br />
            
<br />
<br />

              <h4>Option 2 - 6 payments:</h4>
              First Payment due by 11/27:<br /><br />
              16-18U Monthly Payment ($400)<br />
              14U Monbthly Payment ($350)<br />
<br />
<br />

             <h4>Option 3 - Downpayment of $500 + 5 payments:</h4>
             16-18U Monthly Payment ($380)<br />
             14U Monthly Payment ($320)<br />
<br />
<br />
             <h4>Option 4 - Make a specified payment</h4>
<br />
<br />
              Please enter the amount to pay in the box below then click Payment button. <br /><br />           

              <article>
                <%= label_tag(:amount, 'Payment Amount:') %>
                <%= text_field_tag(:amount) %>
              </article>
              <article>
                <%= hidden_field_tag(:stripeToken) %>
              </article>
              <button id='donateButton'>Payment</button>

              <script src="https://checkout.stripe.com/checkout.js"></script>
              <script>
              var handler = StripeCheckout.configure({
                key: '<%= Rails.configuration.stripe[:publishable_key] %>',
                locale: 'auto',
                name: 'Team Keba Payment',
                description: 'Team Keba Club Payment',
                token: function(token) {
                  $('input#stripeToken').val(token.id);
                  $('form').submit();
                }
              });

              $('#donateButton').on('click', function(e) {
                e.preventDefault();

                $('#error_explanation').html('');

                var amount = $('input#amount').val();
                amount = amount.replace(/\$/g, '').replace(/\,/g, '')

                amount = parseFloat(amount);

                if (isNaN(amount)) {
                  $('#error_explanation').html('<p>Please enter a valid amount in USD ($).</p>');
                }
                else if (amount < 5.00) {
                  $('#error_explanation').html('<p>Payment amount must be at least $5.</p>');
                }
                else {
                  amount = amount * 100; // Needs to be an integer!
                  handler.open({
                    amount: Math.round(amount)
                  })
                }
              });      
              
              // Close Checkout on page navigation
              $(window).on('popstate', function() {
                handler.close();
              });       
              </script>                        
          <% end %>
      <% else %>
        <h1 class="badge badge-info">Sign In to Enroll!</h1><br />
        <%= link_to 'Sign in', new_user_session_path, class: 'btn btn-primary' %>
        <%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-primary' %>
      <% end %>       
    </div>

    <div class="col-sm-3 col-12">
      <p>Club Information<br />
      <br />
      We are looking forward to the upcoming Club Season!<br /><br />
     <p>Tournaments<br />
        <b>Regional U14 and under</b><br />
        Cleveland OH January 18-January 19<br />
        Milwaukee, WI February 15-February 16<br />
        Rockford, IL March 7-March 8<br />
        Louisville, KY April 3-April 5<br />
        Top Flight May 30<br />
        Orlando, FL June 20-June 24<br />
        <br /><br />
        <b>National 16-18U</b><br />
        Cleveland, OH January 18-January 19<br />
        Milwaukee, WI February 1-February 2<br />
        Las Vegas, NV March 7-March 8<br />
        Louisville, KY April 3-April 5<br />
        Long Beach, CA May 23-May 25<br />
        Orlando, FL June 22-June 28<br />
      </p>
    </div>
  </div>
 </div>