<div id="hero-block">
  <div class="overlay"></div>
  <div class="home-video-wrapper">
    <%= video_tag "hero.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: "home_video" %>
  </div>

  <br />

  <div class="row feature text-center">
    <div class="col-12 col-lg">
      <%= image_tag "kpva.png", size: "300x300" %>
    </div>  
  </div>
  <div class="row feature text-center">
    <div class="col-12 col-sm">
      <h3>Sept-Oct Training Plans</h3>
      <br />
      <p>This All-Star Training Team is a program solely dedicated to skill development.<br/><br/></p>
      <%= link_to 'Learn More', "/programs/1", class: 'btn btn-success' %>   
    </div>

    <div class="col-12 col-sm">
      <h3>New Beginner Academy</h3>
      <br />
      <p>This program is dedicated to players new to the sport. Beginning with fundamental skills, players can quickly advance to more advanced skill areas.</p>
      <%= link_to 'Learn More', "/programs/2", class: 'btn btn-success' %>   
    </div>

    <div class="col-12 col-sm">
      <h3>Club Season Tryouts</h3>
      <br />
      <p>Register for 2019-2020 Club Season <br/><br/><br/></p>
      <%= link_to 'Register for Oct 23', "/programs/5", class: 'btn btn-success' %>
      <%= link_to 'Register for Nov 10', "/programs/6", class: 'btn btn-success' %>    
    </div>  
  </div>
  <br />
</div>
<div class="clr"></div>
<div class="success-block">
  <h2>2019-2020 Club Season</h2>
  <div class="row feature text-center">
        <div class="col-12 col-sm">
          <h3>Tournaments</h3>
          <i>Regional 13 U</i><br />
          Cleveland OH  January 18-January 19<br />
          Milwaukee, WI   February 15-February 16<br />
          Rockford, IL  March 7-March 8<br />
          Louisville, KY  April 3-April 5<br />
          Top Flight May 30<br />
          Orlando, FL June 20-June 24<br />
          <br />
          <i>National 16 U</i><br />
          Cleveland, OH   January 18-January 19<br />
          Milwaukee, WI   February 1-February 2<br />
          Las Vegas, NV   March 7-March 8<br />
          Louisville, KY  April 3-April 5<br />
          Long Beach, CA  May 23-May 25<br />
          Orlando, FL June 22-June 28<br />
        </div>

        <div class="col-12 col-sm">
          <h3>Club Information</h3>
          <br />
            We are looking forward to the upcoming Club Season!  <br />If you missed tryouts more dates are available. 
          <br /> <br />
          Tryouts October 23, 5:30pm<br />
          Tryouts November 10, 2:30pm<br />
          <br />         
            <p>
              <%= link_to 'Club Handbook', asset_path('A Junior National Volleyball Club.pdf'), class: 'btn btn-success' %>
            </p>
            <p>
             <%= link_to 'Club Information', asset_path('pricing.pdf'), class: 'btn btn-success' %>
           </p>
        </div>

        <div class="col-12 col-sm">
          <h3>All Star Training Abroad</h3>
          <br />
          Italy: July 3 - July 20<br /><br /><br />
          More information to come...
          <p></p> 
        </div>  
  </div>
    
</div>
<div class="success-header-block">
      <br /><br /><br /><br />

</div>
  <div class="aboutus-block">
      <br /><br />
          <h1>Mission</h1>
          <h3>
          <p>
          Team Keba Volleyball program is committed to providing every athlete with technical, tactical, and physical training to reach their maximum potential. 
          </p>
          <p>
          We are committed to skill development, teamwork, confidence and a strong work ethic. We will strive each day to help every athlete regardless of age, race, or ability to pursue Greatness !!
          </p>
        </h3>          
        <br /><br />
  </div>

 <div class="news-header-block">
  <br /><br /><br /><br />
   <h1>News</h1>
   <br /><br /><br /><br />
 </div>
  <div class="news-block">
      <h3>
      UPCOMING EVENTS  
      </h3>
<iframe src="https://calendar.google.com/calendar/embed?height=300&amp;wkst=1&amp;bgcolor=%23E4C441&amp;ctz=America%2FChicago&amp;src=dms2cnE4ZmpmYWptcHV2MTZrdDVsNGljM2dAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%239E69AF&amp;showTitle=0&amp;showCalendars=1&amp;mode=AGENDA" style="border-width:0" width="95%" height="90%" frameborder="0" scrolling="no"></iframe>
  </div>
 <div class="featured-header-block">
    <h1>&nbsp</h1>
 </div>