<meta name=”viewport” content=”width=device-width, initial-scale=1″>
<div id="hero-block">
  <div class="overlay"></div>
  <div class="home-video-wrapper">
    <%= video_tag "hero.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: "home_video" %>
  </div>

  <div class="row feature text-center">
    <div class="col-12 col-lg">
      <%= image_tag "kpva.png", size: "300x300" %>
    </div>  
  </div>
  <div class="row feature text-center">

    <div class="col-12 col-sm">
      <h3>Team Keba 2020-2021 Tryouts</h3>
      <p>
        September 13th <br/>
        3:30-6pm <br/>
        Pullman Community Center <br/>
        10355 S Woodlawn; Chicago IL 
        btn-success' %>
      </p>
        <br/>
        <%= link_to 'Register for Tryout', "/programs/12", class: 'btn 
    </div>

    <div class="col-12 col-sm">
      <h3>2020-2021 Club Season</h3>
      <p>Due to the IHSA changes, the 2020-21 season will begin in September of 2020. <br />
      Please stay tuned for tryout information as well as pre-registration <br />for our current members for the 2020-21 season. </p>
      <br />
      <%= link_to 'Learn More', "/club", class: 'btn btn-success' %>    
    </div>  
  </div>
  <br />
</div>
<div class="clr"></div>
<div class="success-block">
  <h1>2020-2021 Club Season</h1>
  <div class="row feature text-center">
        <div class="col-12 col-sm">
          <h3>Club Information</h3>
          <p>
            Due to the IHSA changes, the 2020-21 season will begin in September of 2020. Please stay tuned for tryout information as well as pre-registration for our current members for the 2020-21 season. Please note, due to State of Illinois guidelines, we will be limited in numbers this season, so we encourage everyone to sign up during pre-registration. Pre-registering will allow your child a spot in the program without trying out.  We will only be trying out new members.
          </p>
          <p>
            For current high school players, the season will run from September 1-February 15th and then continue May 1st through the end of June. For 8th graders and under, families can decide between a September 1st-May 30th season, or November 1st-May 30th season. Teams who qualify for AAU or USA Nationals can continue through June for a separate fee. The boys program will run from September 1st-April 30th.
          </p>  
          <br />         
            <p>
              <%= link_to 'Club Handbook', asset_path('A Junior National Volleyball Club.pdf'), class: 'btn btn-success' %>
            </p>
            <p>
             <%= link_to 'Club Information', asset_path('pricing.pdf'), class: 'btn btn-success' %>
           </p>
        </div>
</div>
    
</div>
<div class="success-header-block">
      <br /><br /><br /><br />

</div>
  <div class="aboutus-block">
      <br /><br />
          <h1>Mission</h1>
          <h3>
          <p>
          Team Keba Volleyball program is committed to providing every athlete with technical, tactical, and physical training to reach their maximum potential. 
          </p>
          <p>
          We are committed to skill development, teamwork, confidence and a strong work ethic. We will strive each day to help every athlete regardless of age, race, or ability to pursue Greatness!!
          </p>
        </h3>          
        <br /><br />
  </div>

 <div class="news-header-block">
  <br /><br /><br /><br />
   <h1>News</h1>
   <br /><br /><br /><br />
 </div>
  <div class="news-block">
      <h3>
      UPCOMING EVENTS  
      </h3>
<iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FChicago&amp;src=ZW4udXNhI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;src=dGVhbWtlYmF2b2xsZXliYWxsQGdtYWlsLmNvbQ&amp;color=%231F753C&amp;color=%23743500&amp;mode=AGENDA" style="border:solid 1px #777" width="95%" height="90%" frameborder="0" scrolling="no"></iframe>      
  </div>
 <div class="featured-header-block">
    <h1>&nbsp</h1>
 </div>